.header {
    background: #E1FF8F;
    height: 800px;
    position: relative;
    z-index: 1;
    &__text {
        &-box {
            max-width: 769px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        padding-top: 196px;
        padding-bottom: 24px;
    }
    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        vertical-align: middle;
        padding-bottom: 48px;
        max-width: 720px;
    }
    &__big {
        &-star {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
}

.button {
        display: block;
        font-weight: 600;   
        font-size: 24px;
        line-height: 142%;
        letter-spacing: 0%;
        text-align: center;
        color: #ffffff;
        border: 1px solid #202027;
        width: 117px;
        height: 34px;
        gap: 10px;
        border-radius: 60px;
        padding-top: 16px;
        padding-right: 65px;
        padding-bottom: 16px;
        padding-left: 65px;
        border-width: 1px;
        background: #202027;
        &:hover {
            border: 1px solid #000000;
            background: none;
            color: #000000;
        }
    }

.about-game {
    display: block;
    padding-top: 94px;
    padding-bottom: 72px;
    &__title {
        color: #ffffff;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
    }
    &__description {
        padding-top: 24px;
        color: #ffffff;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        vertical-align: middle;
        max-width: 788px;
    }
}

.games {
    position: relative;
    z-index: 1;
}

.game {
    background: #FFFFFF;
    box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
    border-radius: 30px;
    &:hover {
        transform: scale(1.08);
    }
    &-box {
        display: flex;
        gap: 32px;
    }
    &__img {
        display: block;
        width: 378px;
        height: 314px;
        border-radius: 30px;
    }
    &__number {
        font-weight: 500;
        font-size: 16px;
        line-height: 110.00000000000001%;
        letter-spacing: 0px;
        vertical-align: bottom;
        padding-bottom: 16px;
        width: 76px;
        height: 18px;
        border-radius: 52.58px;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-left: 16px;
        background-color: #F7F7F7;
    }
    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        padding-top: 16px;
    }
    &__description {
        padding-top: 32px;
        padding-right: 32px;
        padding-bottom: 36px;
        padding-left: 32px;
    }
}

.article {
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__top {
        width: 378px;
        height: 473px;
    }
    &__center {
        width: 378px;
        height: 512px;
    }
    &__bottom {
        width: 378px;
        height: 551px;
    }
}

.star {
    position: absolute;
    bottom: 149px;
    right: 344px;
    &-green {
        position: absolute;
        top: 94px;
        left: 63px;
        &-small {
            position: absolute;
            bottom: 225px;
            right: 455px;
        }
    }
    &-small {
        position: absolute;
        top: 69px;
        left: 156px;
    }
    &-game {
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 822px;
        &-big {
            position: absolute;
            top: 77px;
            right: 0px;
            z-index: -1;
        }
        &-small {
            position: absolute;
            z-index: -1;
            left: 25px;
            top: 770px;
        }
    }
}
.mini {
    width: 1200px;
    height: 500px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 20px 67px -12px #00000021;
    display: flex;
    justify-content: space-between;
    &-games {
        padding-bottom: 144px;
        &__title {
        display: block;
        padding-top: 94px;
        padding-bottom: 72px;
        color: #ffffff;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        }
    }
    &__content {
        padding-top: 48px;
        padding-left: 48px;
        padding-right: 48px;
        width: 504px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
    }
    &__description {
        padding-top: 24px;
        padding-bottom: 36px;
        height: 64px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        vertical-align: middle;
    }
    &-box {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &-left {
        flex-direction: row-reverse;
    }
    &__img {
        border-radius: 30px;
        &-box {
            width: 600px;
            height: 500px;
        }
    }
}

.footer {
    height: 150px;
    background: #BDED35;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}